
#note{
	color: #666666;
	font:1em Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width:auto;
}

#wrapper{
width:100%;

margin: 0;
}

.logo{
position: absolute;
margin: 0 ;
clear:both;
left: 30px;
z-index: 2 ;
width:22%;

}
.logo img{width:100%}




#container{
width:90%;
margin:8% auto;
-moz-box-sizing: border-box;
background:#fff;
padding: 0 5% 5% 5%;
box-shadow: 0px 0px 5% 6 #d7d7d7;
}
/*#container .value{width:50%; margin:auto;}
#container .value img{width:100%; }*/




.done1{
background: none repeat scroll 0% 0% #920909;
width:14%;
margin:7px  30px 7px 0;
height: 45px;
border-radius: 6px;
text-align: center;
text-transform: uppercase;
color: white;
font: 1.2em/2.2em Arial, Helvetica, sans-serif;
float:right;

}


.tnc{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	background-image:url(../assets/back3.png);
	background-repeat:repeat-x;
	border-top:4px solid #838183;
	border-bottom:4px solid #838183;
	margin-top:20px;
	color:#666;
	font:18px/11px Arial, Helvetica, sans-serif;
	text-align:center;
	height:30px;
}


.headerbluebg {
	width:98.9%;
	background-color:#830707;
	margin: 0;
	padding:0;
	height:60px;
	position:fixed;
	top:0;
	z-index:1;
}


.count{	width:80%;
height:auto;
margin:auto;
text-align: center;
padding: 2px 0px;

}

.countdownHolder{

display:none;

}


input[type='text']
{
background: none repeat scroll 0% 0% white;
width: 96%;
margin-top: 28px;
padding:2%;
height: 30px;
border-radius: 3%;
border: 1px solid #999;
box-shadow: 1px 3px 3px 1px rgb(228, 226, 223);
}

.spans{
    background:white;
    box-shadow: 1px 3px 3px 1px rgb(228, 226, 223);
    width: 96%;



    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 300%;
    font-weight: bold;
    margin: 10% auto;
    position: relative;
    text-align: center;
    }
.disclosure {
    -moz-box-sizing: border-box;
   	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	background-image:url("http://localhost/img/back3.png");
	background-repeat:repeat-x;
	border-top:4px solid #838183;
	border-bottom:4px solid #838183;
	margin-top:20px;
	color:#666;
	font:1.2em/1.8em Arial, Helvetica, sans-serif;
	text-align:center;
	height:38px;
	width:96%;
}
.disclosure p.heading {
    font-size: 14px;
    font-weight: bold;
}
.disclosure p {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
.disclosure .wrapper {
    -moz-transition: height 300ms ease 0s;
    height: 0;
    overflow: hidden;
    border-bottom:1px solid #838183;
    border-left:1px solid #838183;
    border-right:1px solid #838183;
    margin-top:-2px;
    
    border-radius:0 0 5px 5px;
    text-align: left;
 	background-color: #fff;
   	background-repeat: repeat-x; 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#d7d7d7));
    background: -webkit-linear-gradient(top, #d7d7d7, #fff); 
    background: -moz-linear-gradient(top, #d7d7d7, #fff);
    background: -ms-linear-gradient(top, #d7d7d7, #fff); 
    background: -o-linear-gradient(top, #d7d7d7, #fff);

    
}
.disclosure p.content {
    font-size: 12px;
    padding-top: 10px;
}
.disclosure p {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
.disclosure .toggle {
    background-color: transparent;
    background-image: url("http://localhost/img/expand-disclosure.png");
    border: medium none;
    border-radius: 0 0 0 0;
    top: -16px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 26px;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: relative;
    right: 13px;
    width: 25px;
    float:right;
}
.disclosure.opened .toggle .arrow {
    -moz-animation: 500ms ease-out 0s normal none 1 disclosure-spin-flip;
    -moz-transform: rotate(180deg);
}
.disclosure .toggle .arrow {
    -moz-transform-origin: 50% 3px;
    background-image: url("http://localhost/img/expand-disclosure.png");
    background-position: 0 -78px;
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 9px;
    width: 13px;
}



.voucher .frame {
    background-image: url("https://giftology.com/img/voucher-frame.png");
    height: 250px;
    position: absolute;
    top: 0;
    width: 100%;
}
.frame {
    display: block;
}
.voucher {
    height: 250px;
    position: relative;
    width:300px;
    
}
.voucher .paper {
    background-color: white;
    bottom: 25px;
    left: 23px;
    position: absolute;
    right: 23px;
    top: 23px;
}
.voucher-container.purchase .voucher h2 {
    display: none;
}
.voucher .value {
    color: #000000;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 42px;
    width: 100%;
}
#WebRupee {
    display: inline;
}
.WebRupee {
    font-family: 'WebRupee';
}
.voucher .value {
    color: #000000;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.voucher .divider {
    background-image: url("/img/voucher-divider-line.png");
    height: 2px;
    left: 17px;
    position: absolute;
    top: 120px;
    width: 288px;
}

.voucher .at {
    color: #8C8C8C;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 107px;
    width: 100%;
}
p {
    margin: 0;
}
.voucher .fine-print {
    bottom: 28px;
    color: #4D4D4D;
    font-size: 11px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.voucher img.wide {
    height: 64px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 140px;
    width: 200px;
}



@media all and (max-width: 500px) and (min-width: 440px) {


  .done1{ width:20%; }

  .logo{ width:30%}
  .spans{ font-size: 220%}
}

@media all and (max-width: 439px) and (min-width: 300px) {
  .done1{ width:25%; }

  .logo{ width:40%}
  .voucher{top:50px; left:-10%;}
  .spans{ font-size: 150%}
  .count{margin-top:18%;}

}



@media all and (max-width: 299px)  {
  .done1{ width:28%; }

  .logo{ width:45%}
  .voucher{top:80px; left:-15%;}
  .spans{ font-size: 100%}
  .count{margin-top:35%;}

}


