@charset "utf-8";
body {
	/*background-color: #FFFFFF;
    background-image: -moz-linear-gradient(#FFFFFF, #E7E7E7);
	background-position: 0 140px;
    background-repeat: repeat-x; */
	color: #4D4D4D;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
}




.mainpage {
    height: 400px;
    position: relative;
    width: 880px;
	margin:0 auto;
}
.mainpage2 {
    height: 400px;
    position: relative;
    width: 1100px;
	margin:0 auto;
}

.header {
	background: url(../img//header-shadow.png) no-repeat center 74px;
    height: 90px;
    margin: auto;
    overflow: hidden;
}

.left-container {
	float: left;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 300px;
    width: 520px;
}

ul.nav {
	float: left;
    margin-left: 50px;
    margin-top: 22px;}

ul.nav li {
	display: inline;
    float: left;
    margin-right: 60px;}
	
ul.nav li a {
	background-image: url("../img//sprite.png");
    background-repeat: no-repeat;
    color: #6A6C6F;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 34px;
    position: relative;
    text-align: center;
    width: 50px;}

ul.nav li a.events.active, ul.nav li a.events.active:hover {
    background-position: 0 -101px;
}

ul.nav li a.events{
    background-position: 0 -49px;
}

ul.nav li a.events:hover{
    background-position: 0 -1px;
}

ul.nav li a span {
    display: inline-block;
    margin-left: -50px;
    width: 150px;
}

ul.nav li a.friends {
    background-position: -50px -49px;
}
ul.nav li a.friends.active, ul.nav li a.friends.active:hover {
    background-position: -50px -101px;
}
ul.nav li a.friends:hover {
    background-position: -50px -1px;
}

ul.nav li a.wallet {
    background-position: -150px -49px;
}
ul.nav li a.wallet.active, ul.nav li a.wallet.active:hover {
    background-position: -150px -101px;
}

ul.nav li a.wallet:hover {
    background-position: -150px -1px;
}

.header .controls {
    float: right;
    margin-top: 15px;
}

.shadow-wrapper {
    background-image: url("../img//frame-shadow.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    display: inline-block;
    padding-bottom: 5px;
}

.controls .shadow-wrapper {
    float: left;
}

.shadow-wrapper .frame {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFAFA;
    border-color: #D9D9D9 #D9D9D9 #A8A8A8;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
}

.image-wrapper {
    margin-left: -26px;
    margin-right: -26px;
    overflow: hidden;
}
.frame {
    display: block;
}

.frame .img-placeholder {
    display: block;
}


.controls .shadow-wrapper .frame img {
    height: 50px;
    width: 50px;
}
.shadow-wrapper .frame .img-placeholder img {
    padding: 0;
}
.shadow-wrapper .frame img {
    display: block;
    padding: 4px;
}
.img-placeholder img {
    padding: 0;
}
.controls .current-user {
    float: right;
    margin: 10px 0 10px 10px;
}
.controls .current-user p {
    color: #4C4C4C;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
	margin:0;
}
.controls .current-user a {
    color: #4D4D4D;
    display: block;
    font-size: 12px;
}



.line-header {
    margin-top: 30px;
    position: relative;
	margin-bottom:10px;
}
.line-header {
    border-bottom: 2px solid #D9D9D9;
    display: block;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.line-header .calendar {
    right: 10px;
}
.calendar {
    background-image: url("../img//calendar-icon.png");
    bottom: -9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 26px;
    position: absolute;
    right: -9px;
    width: 23px;
}

.calendar p {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.image-container {
    height: 150px;
    line-height: 150px;
    text-align: center;
    width: 192px;
}

.image-container .frame-wrapper {
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}

.image-container .frame-wrapper .shadow-wrapper .frame {
    position: relative;
}

.event {
    cursor: pointer;
    float: left;
    height: 185px;
    margin: 0 auto 12px;
    position: relative;
    width: 190px;
}

.suggested .event-marker {
    background-image: url("../img//baloon-icon.png");
    margin: 4px 0 0 -12px;
}
.event-marker {
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 50px;
}
.image-container .frame-wrapper .shadow-wrapper .frame img {
    max-height: 130px;
    max-width: 130px;
    min-height: 33px;
    min-width: 33px;
}

p.name {
    bottom: 18px;
    font-size: 14px;
    font-weight: bold;
}

p.occasion {
    bottom: 0;
    font-size: 12px;
}

.event p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


.mainpage a:hover {
	text-decoration:underline;
}

.text8, .text8 * { font-size:8px; }
.text10, .text10 * { font-size:10px; }
.text11, .text11 * { font-size:11px; }
.text12, .text12 * { font-size:12px; }
.text13 {font-size:13px}
.text14, .text14 * { font-size:14px; }
.text15 {font-size:15px}
.text16, .text16 * { font-size:16px; }
.text20, .text20 * { font-size:20px; }
 

.textGray  { color:#999999; }
.textGray2 { color:#666666; }
.textGray3 { color:#333333; }
 
.textBlue { color: #01c2d4; }
.textRed  { color:red; }
.textPink { color: #E41973;}
.textGreen { color: #8ebe0e;}
 
.block { display:block; }
 
.bold { font-weight:bold; }
.italic { font-style:italic; }
 
.textLink { color:#E71671; }

.mt-5 {margin-top: 5px}
.mt-8 {margin-top: 8px}
.mt-10 {margin-top: 10px}
.mt-15 {margin-top: 15px}
.mt-20 {margin-top: 20px}
.mt-30 {margin-top: 30px}
.mt-40 {margin-top: 40px}
.mt-50 {margin-top: 50px}
.mt-100 {margin-top: 100px}

.mb-5 {margin-bottom: 5px}
.mb-8 {margin-bottom: 8px}
.mb-10 {margin-bottom: 10px}
.mb-15 {margin-bottom: 15px}
.mb-20 {margin-bottom: 20px}
.mb-50 {margin-bottom: 50px}
.mb-100 {margin-bottom: 100px}

.mr-5 {margin-right: 5px}
.mr-10 {margin-right: 10px}
.mr-15 {margin-right: 15px}
.mr-20 {margin-right: 20px}
.mr-50 {margin-right: 50px}
.mr-100 {margin-right: 100px}

.ml-5 {margin-left: 5px}
.ml-10 {margin-left: 10px}
.ml-15 {margin-left: 15px}
.ml-20 {margin-left: 20px}
.ml-40 {margin-left: 40px}
.ml-50 {margin-left: 50px}
.ml-80 {margin-left: 80px}


.float-l {float:left}
.float-r {float:right}

.lh-150 {line-height:150%}
.lh-170 {line-height:170%}

.red {color:red}
.blue {color:#2882e6}
.darkblue {color: #20a2ea}
.lightgrey {color:#666}
.lightestgrey {color:#f6f6f6}

.clear {clear:both}



a.green-button{
 background: url(../img//green-btn-left.jpg) no-repeat top left;
 display: block;
 float: left;
 font: bold 13px Arial;
 line-height: 18px; /
 height: 22px; 
 padding-left: 5px; 
 text-decoration: none;
 color:#fff;
 
}
 
a:link.green-button, a:visited.green-button, a:hover.green-button, a:active.green-button{
 color: white;
}
 
a.green-button span{
 background: transparent url(../img//green-btn-right.jpg) no-repeat top right;
 display: block;
 padding: 2px 13px 4px 7px; 
}
 
a:hover.green-button{ 
 text-decoration: none;
 background:url(../img//green-btn-left-hover.jpg) no-repeat top left;
 
}

a:hover.green-button span{ 
 background:url(../img//green-btn-right-hover.jpg) no-repeat top right;
 
}

a img {border:0px; outline:0px;}
 
 

.nav {
	position:relative;
	height: 31px;
	float:right;
	margin:20px 0px;
}


/*--Topnav Start --*/ 

ul.topnav {  
     list-style: none;  
     padding: 0 10px;  
     margin: 0;  
     float: left;
     display:inline;  
     background: #153a71;  
     background: url(../img//medium-blue-grad.jpg) repeat-x; 
	
}  
 
ul.topnav li {  
     float: left;  
     margin: 0;  
     padding: 0 30px 0 0; 
	 display: inline; 
     position: relative;
	 
}  
 
ul.topnav li a{  
     padding: 5px 10px;  
     color: #000;  
     display: block;  
     text-decoration: none;  
     float: left;
	 font-size: 12px; 
	 font-size:13px; 
}  

ul.topnav li a:hover, ul.topnav li a.selected{  
 	background: #ffa200;
	text-decoration:none;
	color:#fff;

}  

.content-left {
	float:left; 
	margin-top:40px; 
	width:160px; 
	color:#555;
	font-size:11px;
	padding-left:10px;
	background:url(../img//right-border.jpg) top right repeat-y;
}

.content-main {
	float:left; 
	margin:65px 0px 0px 15px; 
	color:#555; 
	width:750px;

}

.home-features {
	float:left; 
	margin-top:50px; 
	width:370px;
}

.home-features .detail{
	float:left;
	width:290px; 
	margin-left:10px
}

a.f-link {color:#999; text-decoration:none; margin: 0px 10px}
a:hover.f-link {text-decoration:underline;}

#news-items {
    float: right;
    margin: 60px 0;
    width: 294px;
}
#news-items .items {
    display: block;
}
#news-items .shadow-wrapper {
    margin-bottom: 55px;
}
.shadow-wrapper.right {
    background-image: url("../img//frame-shadow-right.png");
}
.shadow-wrapper.right .frame {
    background-image: url("../img/white-edge.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}
#news-items .items h3 {
    background-image: url("../img/news-feed-icon.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    margin: 10px;
    padding-left: 18px;
}
#news-items .items h4 {
    font-family: Adelle,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 10px;
    text-align: center;
}
#news-items .items li {
    background-image: url("../img/gift_sent.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    font-family: Adelle,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 30px;
    margin-left: 10px;
}

#news-items .twitter-widget {
    background-image: url("../img/twitter-icon.png");
    background-position: 9px 13px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 14px 17px 12px 43px;
}
#news-items .twitter-widget p {
    color: #4C4C4C;
    font-size: inherit;
    margin-bottom: 15px;
}
a {
    color: #4C4C4C;
    outline: medium none;
    text-decoration: none;
}
p {margin:0}

.app > .friends {
    float: left;
    margin-bottom: 40px;
    margin-top: 60px;
    overflow: hidden;
    width: 520px;
}
.left-container > .friends input {
    background-image: url("../img/search-icon.gif");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    width: 462px;
}
input {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 11px;
}

.left-container > .friends ul li {
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    height: 50px;
    margin-bottom: 0;
}
ol, ul {
    list-style: none outside none;
}
ul, ol {
    list-style-position: inside;
	margin:0; padding:0;
}
.left-container > .friends ul li .img-placeholder {
    float: left;
}
.img-placeholder.no-padding {
    background-position: -3px -3px;
    padding: 0;
}
.img-placeholder {
    background-image: url("../img/friend-avatar-icon.png");
    height: 50px;
    padding: 3px;
    width: 50px;
}
.left-container > .friends ul li p {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 0 0 0 10px;
}
.left-container > .friends ul li .tag-icons {
    float: right;
    height: 26px;
    margin-right: 10px;
    padding: 12px 0;
}
.left-container > .friends ul li .tag-icons .tag-icon.user {
    width: 27px;
}
.left-container > .friends ul li .tag-icons .tag-icon:first-child {
    margin-right: 0;
}
.tag-icons .tag-icon {
    background-image: url("../img/w-icon.png");
    display: inline-block;
    height: 26px;
}
.tag-icons .user {
    background-position: 0 -26px;
    width: 50px;
}
#celebration-details {
    height: 210px;
}
#celebration-details .details-container {
    float: left;
    margin-right: 30px;
    max-width: 650px;
    min-width: 400px;
    padding: 90px 0 0;
}
#celebration-details .details-container h2 {
    margin-bottom: 10px;
}
#celebration-details .details-container .tag-icons {
    clear: both;
}
#celebration-details .image-container {
    float: left;
    height: 210px;
    position: relative;
}
#celebration-details .image-container .polaroid {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transform: rotate(353deg);
    -moz-transition-duration: 0.3s;
    background-color: #FAFAFA;
    border-color: #D9D9D9 #D9D9D9 #A8A8A8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 4px;
    transform:rotate(353deg);
    -ms-transform:rotate(353deg); /* IE 9 */
    -moz-transform:rotate(353deg); /* Firefox */
    -webkit-transform:rotate(353deg); /* Safari and Chrome */
    -o-transform:rotate(353deg); /* Opera */

}
#celebration-details .image-container .polaroid img {
    -moz-transition-duration: 0.3s;
    display: block;
    max-height: 215px;
    min-height: 100px;
    min-width: 100px;
}
#celebration-details .image-container .paperclip {
    background-image: url("../img/paperclip-icon.png");
    height: 48px;
    position: absolute;
    right: 30px;
    top: -11px;
    width: 76px;
}
#campaigns {
    margin: 0 -45px 0 -33px;
}
.small-voucher {
    display: inline-block;
    height: 90px;
    margin: 0 33px 20px;
    padding-top: 18px;
    width: 250px;
}
.small-voucher a {
    display: block;
    height: 93px;
    padding-top: 20px;
}
.small-voucher .voucher {
    display: block;
    height: 100px;
    margin-top: -10px;
    width: 250px;
}
a .free.voucher .featured-frame {
    background-image: url("https://d3vp9zdgypbf1g.cloudfront.net/assets/voucher-frame-featured-free-cf5f9fce5aca46ed82870d2b75191f48.png");
}
.small-voucher .voucher .featured-frame {
    display: none;
}
.small-voucher .voucher .featured-frame {
    height: 90px;
    margin: 8px 0 0 -2px;
    position: absolute;
    width: 250px;
}
.small-voucher span {
    display: block;
    text-decoration: none;
}
.small-voucher .selected-overlay {
    background-image: url("../img/small-voucher-hover-bg.png");
    display: none;
    height: 110px;
    margin-top: -10px;
    position: absolute;
    width: 250px;
    z-index: 10;
}
.small-voucher .voucher .image-container {
    display: block;
    float: left;
    height: 90px;
    width: 90px;
}
.small-voucher .voucher .image-container .image-frame {
    height: 90px;
    position: absolute;
    width: 90px;
}
a .free.voucher .image-frame {
    background: url("../img/voucher-frame-free.png") repeat scroll 0 0 transparent;
}
.small-voucher .voucher .image-container img {
    margin: 10px;
}
.small-voucher .voucher .details {
    color: #4D4D4D;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 16px 0 0 6px;
    width: 100px;
}
.small-voucher .voucher .details .issuer {
    font-size: 12px;
}
.small-voucher .voucher .details .value {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    color: #4D4D4D;
    display: block;
    font-family: inherit;
    font-size: 17px;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: bold;
    line-height: inherit;
    margin-top: 5px;
    position: static;
    text-align: left;
}
a .free.voucher .label {
    color: #9DCB35;
}

.small-voucher:hover .selected-overlay{display:block}
.small-voucher .selected-overlay {
    background-image: url("../img/small-voucher-hover.png");
    display: none;
    height: 110px;
    margin-top: -10px;
    position: absolute;
    width: 250px;
    z-index: 10;
}
.small-voucher .voucher .label {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline-block;
    font-size: 12px;
    left: auto;
    position: absolute;
    right: 2px;
    text-shadow: none;
    top: 36px;
}
.label {
    background-clip: padding-box;
    background-color: #9DCB35;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 12px;
    line-height: 17px;
    padding: 0 5px;
    position: absolute;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    top: 63px;
    z-index: 2;
}

.small-voucher .voucher .details {
    color: #4D4D4D;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 16px 0 0 6px;
    width: 100px;
}
.voucher {
    height: 250px;
    position: relative;
    width: 320px;
}

.delivery-details {
    float: left;
    width: 400px;
}
.delivery-message {
    margin-bottom: 20px;
    overflow: hidden;
    width: 400px;
}
.delivery-message .greeting-bubble {
    background-image: url("../img/input-bg.png");
    float: left;
    height: 76px;
    padding: 9px 13px 13px 9px;
    width: 308px;
}
.delivery-message .greeting-bubble textarea {
    background-color: transparent;
    border: medium none;
    height: 76px;
    outline: medium none;
    width: 308px;
}
textarea {
    resize: none;
}
.delivery-message .shadow-wrapper {
    float: right;
    margin-top: 50px;
}
#gift-details h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0;
}
.delivery-sharing {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) inset;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 18px;
    width: 362px;
}
.delivery-sharing div.input.checkbox {
    margin-bottom: 14px;
}
.delivery-sharing div.input {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}
body:not(#foo) input[type="checkbox"] {
    display: none;
}
.delivery-sharing div.input.checkbox input {
    margin: 3px 6px 0 0;
}
.delivery-sharing div.input.checkbox input {
    border: medium none;
    float: left;
    padding: 0;
}
body:not(#foo) input[type="checkbox"]:checked + label {
    background-position: 0 0;
}
body:not(#foo) input[type="checkbox"] + label {
    background-image: url("../img/checkbox-sprite.gif");
    background-position: 0 -81px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 27px;
    line-height: 25px;
    padding-left: 35px;
}
.delivery-sharing div.input label {
    float: left;
}
.delivery-sharing div.input {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}
.delivery-sharing div.input.email label {
    margin-top: 12px;
}
.delivery-sharing div.input label {
    float: left;
}
.delivery-sharing div.input.email input:-moz-placeholder {
    text-transform: lowercase;
}
.delivery-sharing div.input.email input {
    float: right;
    width: 222px;
}
ul.voucher-details {
    width: 300px;
}
ul.voucher-details li {
    background-image: url("../img/notice-icon.gif");
    background-position: left center;
    background-repeat: no-repeat;
    color: #4D4D4D;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 33px;
}
.voucher-container.purchase {
    margin-bottom: 60px;
}
.voucher-container {
    float: right;
    position: relative;
    width: 310px;
}
.voucher-container .voucher {
    left: -15px;
    margin-bottom: 5px;
    top: -15px;
}
.voucher .paper {
    background-color: white;
    bottom: 25px;
    left: 23px;
    position: absolute;
    right: 23px;
    top: 23px;
}
.voucher-container.purchase .voucher h2 {
    display: none;
}
.voucher .value {
    color: #000000;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 42px;
    width: 100%;
} 	
.voucher .divider {
    background-image: url("../img/voucher-divider-line.png");
    height: 2px;
    left: 17px;
    position: absolute;
    top: 120px;
    width: 288px;
}
.voucher img.wide {
    height: 64px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 140px;
    width: 200px;
}
.voucher .at {
    color: #8C8C8C;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 107px;
    width: 100%;
}
.voucher .fine-print {
    bottom: 28px;
    color: #4D4D4D;
    font-size: 11px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.disclosure {
    -moz-box-sizing: border-box;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) inset;
    margin-bottom: 30px;
    padding: 7px;
    position: relative;
    width: 288px;
}
.disclosure p.heading {
    font-size: 14px;
    font-weight: bold;
}
.disclosure p {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
.disclosure .wrapper {
    -moz-transition: height 300ms ease 0s;
    height: 0;
    overflow: hidden;
}
.disclosure p.content {
    font-size: 12px;
    padding-top: 10px;
}
.disclosure p {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
.disclosure .toggle {
    background-color: transparent;
    background-image: url("../img/expand-disclosure.png");
    border: medium none;
    border-radius: 0 0 0 0;
    bottom: -13px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 26px;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    width: 25px;
}
.disclosure.opened .toggle .arrow {
    -moz-animation: 500ms ease-out 0s normal none 1 disclosure-spin-flip;
    -moz-transform: rotate(180deg);
}
.disclosure .toggle .arrow {
    -moz-transform-origin: 50% 3px;
    background-image: url("../img/expand-disclosure.png");
    background-position: 0 -78px;
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 9px;
    width: 13px;
}
.voucher-container.purchase .minus-plus {
    position: absolute;
    top: 27px;
}
.minus-plus .minus.disabled {
    background-position: 0 -144px;
    cursor: auto;
}
.minus-plus > button.minus, .minus-plus > button.plus {
    background-color: transparent;
    background-image: url("../img/minus-plus.png");
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    min-width: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-shadow: none;
    top: 9px;
    vertical-align: top;
    width: 48px;
}
.voucher-container.purchase .minus-plus .amount {
    color: #000000;
}
.minus-plus .amount {
    display: inline-block;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center;
    width: 194px;
    margin-left:50px;
}
.minus-plus > button.minus, .minus-plus > button.plus {
    background-color: transparent;
    background-image: url("../img/minus-plus.png");
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    min-width: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-shadow: none;
    top: 9px;
    vertical-align: top;
    width: 48px;
}
.minus-plus .plus {
    background-position: -48px 0;
}
.voucher .frame {
    background-image: url("../img/voucher-frame.png");
    height: 250px;
    position: absolute;
    top: 0;
    width: 100%;
}
#gift-details h3 {
    border-bottom: 2px solid #D9D9D9;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 20px;
}


.voucher-container button.give, .voucher-container button.buy, .voucher-container button.done, .voucher-container button.single-use {
    margin: 40px 0;
    width: 288px;
} 	
button.buy, button.use, button.single-use, button.yellow, input.buy[type="submit"], input.use[type="submit"], input.single-use[type="submit"], input.yellow[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(173, 46, 13, 0.86);
    background-image: -moz-linear-gradient(#FFDF42, #FFD33F 50%, #FBCA3C 50%, #FBCA3C);
    color: #FFFFFF;
    margin-left: 60px;
}
button, input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(#FFFFFF, #FAFAFA 50%, #F3F3F3 50%, #F2F2F2);
    border-color: #B7B7B7 #AAAAAA #999999;
    border-left: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px white inset, 0 1px #E5E5E5;
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    min-width: 108px;
    outline: medium none;
    padding: 0 14px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
#breadcrumbs {
    color: #969696;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    left: 0;
    line-height: 32px;
    position: absolute;
    top: 100px;
    z-index: 5;
}
#breadcrumbs .breadcrumb.home {
    padding-left: 0;
}
#breadcrumbs .breadcrumb {
    background-image: url("../img/breadcrumb.png");
    float: left;
    height: 100%;
    position: relative;
}
#breadcrumbs li {
    display: block;
    float: left;
    margin: 0;
    padding-left: 25px;
} 
#breadcrumbs .breadcrumb .left {
    display: none;
}
#breadcrumbs .breadcrumb.home .left {
    background-image: url("../img/breadcrumb.png");
    background-position: 0 -62px;
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
}
#breadcrumbs .breadcrumb.home.events a {
    background-image: url("../img/breadcrumb-events-icon.png");
    background-position: 6px 6px;
}
#breadcrumbs .breadcrumb.home a {
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 8px;
    padding-right: 3px;
    width: 13px;
}
#breadcrumbs .breadcrumb a {
    color: #969696;
    display: block;
    height: 100%;
    padding-right: 6px;
    position: relative;
    text-decoration: none;
}
#breadcrumbs .breadcrumb .arrow {
    background-image: url("../img/breadcrumb.png");
    background-position: right -31px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: -16px;
    top: 0;
    width: 16px;
    z-index: 2;
}
.wallet-page .wallet {
    padding-bottom: 80px;
    padding-top: 100px;
    position: relative;
    width: 878px;
}
.wallet-page .wallet .message {
    color: #4D4D4D;
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 100%;
}
.wallet-page .wallet .flap {
    background-image: url("../img/wallet-flap.jpg");
    height: 118px;
    margin-top: -59px;
    position: absolute;
    right: -115px;
    top: 50%;
    width: 120px;
    z-index: 1;
}
.wallet-page .wallet .top {
    background-image: url("../img/wallet-cap-top.jpg");
    height: 198px;
}
.wallet-page .wallet .middle {
    background-image: url("../img/wallet-fill.jpg");
    margin-bottom: -160px;
    padding: 0 5px;
    position: relative;
}
.wallet-page .wallet .middle .wallet-vouchers {
    overflow: hidden;
    position: relative;
    top: -160px;
}
.wallet-page .wallet .middle .wallet-vouchers .pocket.left {
    margin-right: 102px;
}
.wallet-page .wallet .middle .wallet-vouchers .pocket {
    float: left;
    height: 89px;
    margin-bottom: 1px;
    position: relative;
    text-align: center;
    width: 383px;
}

.wallet-page .wallet .middle .wallet-vouchers .pocket {
    float: left;
    height: 89px;
    margin-bottom: 1px;
    position: relative;
    text-align: center;
    width: 383px;
}

.wallet-page .wallet .middle .wallet-vouchers .pocket.left {
    margin-right: 102px;
}
.wallet-page .wallet .middle .wallet-vouchers .pocket {
    float: left;
    height: 89px;
    margin-bottom: 1px;
    position: relative;
    text-align: center;
    width: 383px;
}

.wallet-page .wallet .middle .wallet-vouchers .pocket {
    float: left;
    height: 89px;
    margin-bottom: 1px;
    position: relative;
    text-align: center;
    width: 383px;
}
.wallet-page .wallet .middle .wallet-vouchers .pocket .background {
    background-image: url("../img/wallet-pocket.png");
    background-repeat: no-repeat;
    bottom: -1px;
    height: 19px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.wallet-page .wallet .bottom {
    background-image: url("../img/wallet-cap-bottom.jpg");
    height: 198px;
    position: relative;
}
.event.user-initiated .event-marker {
    background-image: url("../img/wrapped-icon.png");
    background-position: center top;
    margin: -6px 0 0 -16px;
}
.event .image-container .frame-wrapper .shadow-wrapper .frame .badge {
    background-image: url("../img/badge-icon.png");
    height: 36px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 36px;
}
.event .image-container .frame-wrapper .shadow-wrapper .frame .badge span {
    color: #FFFFFF;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 7px;
    margin-top: 1px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}
.content .about {
    float: left;
    width: 296px;
	margin-top:70px;
}
.content .about .first, #home .content .about .second {
    overflow: hidden;
    width: 100%;
}
.content .about h1 {
    background-image: url("../img/brand-logo.jpg");
    background-size: 100% 100%;
    margin-bottom: 17px;
    overflow: hidden;
    text-indent: -10000px;
}
.content .about h1, .content .about h2, .content .about a.app, .content .about .facepile, .content .about .social, .content .about .availability {
	color: #4D4D4D;
    float: left;
    margin: 0 0 20px;
    text-shadow: 0 1px white;
    width: 296px;
}
.content .about h2 {
    font-family: Adelle,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: normal;
    height: 75px;
    margin-bottom: 25px;
}
.app:after {
    clear: both;
    content: "";
    display: table;
}
.content .about a.app.facebook {
    background-image: url("../img/join-button.png");
}
.content .about a.app {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    margin-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    width: 266px;
}
.app {
    margin: 0 auto;
    max-width: 880px;
    position: relative;
}
.content .about .first,  .content .about .second {
    overflow: hidden;
    width: 100%;
}
.content .about .facepile {
    height: 66px;
    width: 296px;
}
.content .about .social .twitter, .content .about .social .facebook {
    float: left;
    height: 20px;
    width: 120px;
}
.content .about .availability p.iphone-android {
    margin-bottom: 15px;
}
.content .about .availability .flags {
    height: 25px;
    width: 100%;
}
.flag.us {
    background-position: -38px 0;
}
.flag {
    background-image: url("../img/flags.png");
    display: inline-block;
    float: left;
    height: 19px;
    margin: 3px 2px 0 0;
    width: 19px;
}
.flag.de {
    background-position: -114px 0;
}
.flag.se {
    background-position: 0 0;
}	
.flag.gb {
    background-position: -19px 0;
}
.flag.gb {
    background-position: -19px 0;
}
.flag.gb {
    background-position: -19px 0;
}
.flag.nl {
    background-position: -133px 0;
}
.flag.au {
    background-position: -228px 0;
}
.content .about .availability p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}

.infographic.interactive .shadow {
    background-image: url("../img/shadow-home.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 13px;
    display: inline-block;
    padding-bottom: 13px;
}
.infographic.interactive .slides {
    -moz-perspective-origin: center bottom;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 360px;
    position: relative;
    width: 640px;
}
.infographic.interactive .slides, .infographic.interactive .slides ul, .infographic.interactive .slides li {
    height: 480px;
    width: 854px;
}
.infographic.interactive .slides {
    -moz-perspective-origin: center bottom;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 360px;
    position: relative;
    width: 640px;
}
.infographic.interactive .slides ul {
    height: 100%;
}
.infographic.interactive .slides, .infographic.interactive .slides ul, .infographic.interactive .slides li {

}
.infographic.interactive .slides li {
    -moz-transform-origin: center bottom;
    background-image: -moz-linear-gradient(#F9F9F9, #F0F0F0);
    height: 360px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 640px;
}

.infographic.interactive .slides li.slide1 .image {
    background-position: 0 0;
}
.infographic.interactive .slides li .image {
    background-color: #F1F1F1;
    background-image: url("../img/homeslide1.jpg");
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1000px transparent inset;
    height: 100%;
    position: relative;
    width: 100%;
}
.infographic.interactive .slides li.slide1 .image {
    background-position: 0 0;
}


.infographic.interactive {
    float: right;
    margin-top: 69px;
    width: 642px;
}
.centered {
	position: relative;
	top: 50%;
	left:50%;
}
/* Infinite paginator */
.ias_loader {
	text-align:center;
	margin: 5px 0;
}

.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	margin-top: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}
#gift-redemption-details {
	float: left;
	position: relative;
	width: 450px;
	height: 210px;
	border: dashed;
	border-color: ghostwhite;
	background-color: ghostwhite;
}
#redemption-code-title {
	font-size: 24px;
	background-color: white;
	coolor: white;
	padding-left: 120px;
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
#redemption-code {
	font-size: 72px;
	padding-top: 40px;
	padding-left: 10px;
}
#redeem-instr {
	position: relative;
	margin-top: 285px;
}
.footer-line {
	width:100%;
	height: 2px;
	background-color: #D9D9D9;
	margin-top:100px;
}